extends ../../layouts/default.pug
include ../../mixins/back-btn.pug

block main
  if role.permissions.includes("products_view")
    +backBtn()
    if (product.title)
      h1(class="mb-4") #{product.title}

    if (product.category)
      div(class="mb-4") <b>Danh mục:</b> #{product.category.title}

    if (product.price)
      div(class="mb-4") <b>Giá:</b> #{product.price}$

    if (product.discountPercentage)
      div(class="mb-4") <b>Giảm giá:</b> #{product.discountPercentage}%

    if (product.stock)
      div(class="mb-4") <b>Còn lại:</b> #{product.stock}

    if (product.thumbnail)
      div(class="mb-4")
        img(
          src=product.thumbnail
          style="width: 100px"
        )

    if (product.status)
      div(class="mb-4")
        span <b>Trạng thái: </b>
        if (product.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động

    if (product.position)
      div(class="mb-4") <b>Vị trí:</b> <b>#{product.position}</b>

    if (product.creator)
      div(class="mb-4") <b>Người tạo:</b> #{product.creator}

    if (product.createdAtDisplay)
      div(class="mb-4") <b>Ngày tạo:</b> #{product.createdAtDisplay}

    if (product.updater)
      div(class="mb-4") <b>Người cập nhật cuối:</b> #{product.updater}

    if (product.updatedAtDisplay)
      div(class="mb-4") <b>Cập nhật lần cuối:</b> #{product.updatedAtDisplay}
      
    if (product.description)
      div <b>Mô tả sản phẩm</b>
      div(class="mb-4") !{product.description}
