mixin checkboxList(title, itemList, dataName, type="")
  tr
    td !{title}
    each item in itemList
      td(class="text-center")
        if type == "all-permission"
          input(
            all-permission
            type="checkbox"
            data-id=item.id
            data-name=dataName
            checked=(item.permissions.includes(dataName) ? true : false)
          )
        else if type == "select-all-category"
          input(
            select-all-category
            type="checkbox" 
            data-id=item.id
            data-name=dataName
            checked=(item.permissions.includes(dataName) ? true : false)
          )
        else
          input(
            select-one
            type="checkbox" 
            data-id=item.id
            data-name=dataName
            checked=(item.permissions.includes(dataName) ? true : false)
          )