extends ../../layouts/default.pug
include ../../mixins/back-btn.pug

block main
  if role.permissions.includes("product-categories_view")
    +backBtn("/admin/product-categories")
    if (productCategory.title)
      h1(class="mb-4" style="padding-top:10px") #{productCategory.title}

    if (productCategory.thumbnail)
      div(class="mb-4")
        img(
          src=productCategory.thumbnail
          style="width: 100px"
        )

    if (productCategory.status)
      div(class="mb-4")
        span <b>Trạng thái: </b>
        if (productCategory.status === "active")
          span(class="badge badge-success") Hoạt động
        else
          span(class="badge badge-danger") Dừng hoạt động

    if (productCategory.position)
      div(class="mb-4") <b>Vị trí:</b> #{productCategory.position}

    if (productCategory.parentItem)
      div(class="mb-4") <b>Danh mục cha:</b> #{productCategory.parentItem.title}

    if (productCategory.creator)
      div(class="mb-4") <b>Người tạo:</b> #{productCategory.creator}

    if (productCategory.createdAtDisplay)
      div(class="mb-4") <b>Ngày tạo:</b> #{productCategory.createdAtDisplay}

    if (productCategory.updater)
      div(class="mb-4") <b>Người cập nhật cuối:</b> #{productCategory.updater}

    if (productCategory.updatedAtDisplay)
      div(class="mb-4") <b>Cập nhật lần cuối:</b> #{productCategory.updatedAtDisplay}

    if (productCategory.description)
      div <b>Mô tả sản phẩm</b>
      div(class="mb-4") !{productCategory.description}